@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root{
    --cor-1 : #47E5BC;
    --cor-2 : #81E4DA;
    --cor-3 : #AECFDF;
    --cor-4 : #9F9FAD;
    --cor-5 : #93748A;
}

.content{
    background-color: var(--cor-3);
    max-width: 900px;
    height: 800px;
    margin: auto;
    border-radius: 80px;
    padding: 70px;
    

}

.content h1{
    font-family: 'Quicksand', sans-serif;   
    color: var(--cor-5);
    text-align: center;
}

.texto input{
    display: block;
    max-width: 600px;
    min-width: 98.5%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 30px;
    border: 3px solid var(--cor-5);
    text-align: center;
}





.texto select{
    display: block;
    margin-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px 0px 20px 0px;
    padding: 5px;
    width:100%;
    border-radius: 30px;
    border: 3px solid var(--cor-5);
    text-align: center;
}



.texto  label{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bolder;
    color: var(--cor-5);
    margin: 10px;
    font-size: 21px;
}

.radio{
 display: flex;
 justify-content: space-between;
}

.radio input{
    appearance: none;
    transition: 1s;
}

.radio input:before{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border:4px solid var(--cor-5);
    border-radius: 50%;
}

.radio input:hover:before{
    transform:  scale(110%);
}

.radio input:checked:before{
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    background-color: var(--cor-5);
}

.filho-radio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filho-radio p{
    margin: 0px 0px 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: var(--cor-5);
}

